<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<% title = "Another example signup list" -%>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<%= stylesheet_link_tag("blueprint/screen.css") %>
<title><%= title -%></title>
</head>
<body>
<h1><%= title -%></h1>
<br><%= flash[:notice] %><br>
<div class="full_table">
<table>
  <tr>
    <th>phone #</th>
  </tr>

<% for user in @signup_users %>
  <tr>
    <td><%= user.pp_phone_num || user.name %></td>
  </tr>
<% end %>
</table>
</div>
</body>
</html>