%h1 New Screen

= error_messages_for :screen

- form_for @screen, :url => { :action => "create" } do |f|
  = render :partial => f
  .commit
    = f.submit "Add"

.commands
  = link_to "Back to Screens", admin_screens_path
